html, body {
    height: 100%;
    max-width: 1200px;
    margin: 2% auto;
    padding: 0;
}

h1 {
    font-size: 2em;
}

h1 {
    font-size: 2em;
}
/*banner*/
#banner {
    background-image: url('../img/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; 
    overflow: hidden; 
    position: relative;
}

#banner img {
    height: 40vh;
    position: absolute;
    bottom: 5%; 
    width: auto; 
    bottom: 30px;
    animation: moverCotxe 8s linear infinite;
}


@keyframes moverCotxe {
    0% {
        left:0; /* Comienza desde la izquierda */
    }
    50% {
        left: calc(100% - 100px); /* Se desplaza hacia la mitad de la pantalla */
    }
    100% {
        left: 0; /* Vuelve a la posición inicial (izquierda) */
    }
}

